@charset "UTF-8";

/* FONTS */

/* Nunito-regular - latin */

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/nunito-v13-latin-regular.eot?3c57fd52a8a69f59b2482ea6f81d50a7);
  /* IE9 Compat Modes */
  src: local("Nunito Regular"), local("Nunito-Regular"), url(/fonts/nunito-v13-latin-regular.eot?3c57fd52a8a69f59b2482ea6f81d50a7) format("embedded-opentype"), url(/fonts/nunito-v13-latin-regular.woff2?508e414e3d3bc41666826fee46c7d881) format("woff2"), url(/fonts/nunito-v13-latin-regular.woff?e5875b853d135f2a82ceae7ac537b6f4) format("woff"), url(/fonts/nunito-v13-latin-regular.ttf?458ce5de9130f2b0abc115af97f11081) format("truetype"), url(/fonts/nunito-v13-latin-regular.svg?528e8ad45d3febb0238864d3f1bf86b7) format("svg");
  /* Legacy iOS */
}

/* Open-Sans-regular - latin */

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/open-sans-v17-latin-regular.eot?5f4d4bc11d64b6cb605b7030c1997270);
  /* IE9 Compat Modes */
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(/fonts/open-sans-v17-latin-regular.eot?5f4d4bc11d64b6cb605b7030c1997270) format("embedded-opentype"), url(/fonts/open-sans-v17-latin-regular.woff2?33543c5cc5d88f5695dd08c87d280dfd) format("woff2"), url(/fonts/open-sans-v17-latin-regular.woff?de0869e324680c99efa1250515b4b41c) format("woff"), url(/fonts/open-sans-v17-latin-regular.ttf?049a929c5d81988b3ae6d2f985ca7aa5) format("truetype"), url(/fonts/open-sans-v17-latin-regular.svg?7aab4c13671282c90669eb6a10357e41) format("svg");
  /* Legacy iOS */
}

.col-1 {
  flex: 0 0 8.3333333333%;
}

.col-offset-1 {
  margin-left: 8.3333333333%;
  background: #f5f5dc;
}

.col-2 {
  flex: 0 0 16.6666666667%;
}

.col-offset-2 {
  margin-left: 16.6666666667%;
  background: #f5f5dc;
}

.col-3 {
  flex: 0 0 25%;
}

.col-offset-3 {
  margin-left: 25%;
  background: #f5f5dc;
}

.col-4 {
  flex: 0 0 33.3333333333%;
}

.col-offset-4 {
  margin-left: 33.3333333333%;
  background: #f5f5dc;
}

.col-5 {
  flex: 0 0 41.6666666667%;
}

.col-offset-5 {
  margin-left: 41.6666666667%;
  background: #f5f5dc;
}

.col-6 {
  flex: 0 0 50%;
}

.col-offset-6 {
  margin-left: 50%;
  background: #f5f5dc;
}

.col-7 {
  flex: 0 0 58.3333333333%;
}

.col-offset-7 {
  margin-left: 58.3333333333%;
  background: #f5f5dc;
}

.col-8 {
  flex: 0 0 66.6666666667%;
}

.col-offset-8 {
  margin-left: 66.6666666667%;
  background: #f5f5dc;
}

.col-9 {
  flex: 0 0 75%;
}

.col-offset-9 {
  margin-left: 75%;
  background: #f5f5dc;
}

.col-10 {
  flex: 0 0 83.3333333333%;
}

.col-offset-10 {
  margin-left: 83.3333333333%;
  background: #f5f5dc;
}

.col-11 {
  flex: 0 0 91.6666666667%;
}

.col-offset-11 {
  margin-left: 91.6666666667%;
  background: #f5f5dc;
}

.col-12 {
  flex: 0 0 100%;
}

.col-offset-12 {
  margin-left: 100%;
  background: #f5f5dc;
}

/*
BreakPoints

lg = ≥992px
md = ≥768px
sm = ≥576px
xl = ≥1200px
xs = <576px

*/

/* Colors */

